---
import { Temporal } from "@js-temporal/polyfill";


interface Props {
  title: string;
  date: Temporal.ZonedDateTime;
  desc: string;
  path: string;
}

const { title, date, desc, path } = Astro.props;

const short = date.toPlainDate().toString();
const human = date.toLocaleString("en", { month: '2-digit', day: "2-digit" });
---
<a class="page-item" href={path}>
  <div class="page-item__header">
    <h3>{title}</h3>
    <time datetime={short}>
      {human}
    </time>
  </div>
  {desc && (
    <div class="page-item__desc">
      {desc}
    </div>
  )}
</a>
