---
interface Props {
  metadata: {
    cover: string;
    title: string;
    track: number;
    name: string;
    composer?: string;
    lyrics?: string;
    vocal?: string[];
    other: Array<{
      cat: string;
    }>;
    origin?: string[]
  }
}

const { metadata } = Astro.props;
---
<table class="c-song__table">
  <tr>
    <td>Track</td>
    <td>{metadata.track}</td>
  </tr>
  <tr>
    <td>Circle</td>
    <td>{metadata.name}</td>
  </tr>
  <tr>
    <td>Composer</td>
    <td>{metadata.composer}</td>
  </tr>
  <tr>
    <td>Lyrics</td>
    <td>{metadata.lyrics}</td>
  </tr>
  {!!metadata.vocal?.length &&
    <tr>
      <td>Vocal</td>
      <td>
        <ul>{metadata.vocal.map(vocalist => <li>{vocalist}</li>)}</ul>
      </td>
    </tr>
  }
  {!!metadata.origin?.length &&
    <tr>
      <td>Origin</td>
      <td>
        <ul>{metadata.origin.map(title => <li>{title}</li>)}</ul>
      </td>
    </tr>
  }
  {!!metadata.other?.length &&
    <tr>
      <td>Other versions</td>
      <td>
        <ul>{metadata.other.map(version => <li>{version.cat}</li>)}</ul>
      </td>
    </tr>
  }
</table>
