---
const year = new Date().getFullYear();
const copy = `Copyright &copy; ${year} Maciej Jur`;
const mail = "maciej@kamoshi.org";
const href = `mailto:${mail}`;
---
<footer class="footer">
  <div>
    <div set:html={copy}></div>
    <a href={href}>{mail}</a>
  </div>
  <a class="footer__cc-wrap" rel="license" href="http://creativecommons.org/licenses/by/4.0/">
    <img class="footer__cc-stamp" alt="Creative Commons License" width="88" height="31" src="/static/svg/by.svg"/>
  </a>
</footer>
