---
import List from "./List.astro";
import { PageTree, pathify } from "@utils/tree";
import type { Maybe } from "purify-ts";


interface Props {
  heading: string;
  tree: PageTree;
  slug: Maybe<string>;
  prefix: Maybe<string>;
}

const { heading, tree, slug, prefix } = Astro.props;
---

<aside class="link-tree">
  <h2 class="link-tree__heading">
    {prefix.map(pathify).mapOrDefault(href =>
      <a class="link-tree__heading-text" href={href}>{heading}</a>,
      <span class="link-tree__heading-text">{heading}</span>
    )}
  </h2>
  <nav class="link-tree__nav">
    <List tree={tree} slug={slug} prefix={prefix} />
  </nav>
</aside>
