---
import Pages from "./Pages.astro";
import Headings from "./Headings.astro";
import { Maybe } from "purify-ts";
import type { MarkdownHeading } from "astro";
import type { PagesProps } from "./PagesList.astro";


interface Props {
  heading: string;
  pages: Maybe<PagesProps>;
  headings: Maybe<MarkdownHeading[]>;
}

interface PagesView {
  kind: "pages";
  pages: PagesProps;
}

interface HeadingsView {
  kind: "headings";
  headings: MarkdownHeading[];
}

type Views =
  | PagesView
  | HeadingsView;

const { heading, pages, headings } = Astro.props;

const views = Maybe.catMaybes<Views>([
  pages
    .map(pages => ({ kind: "pages", pages })),
  headings
    .filter(x => x.length > 0)
    .map(headings => ({ kind: "headings", headings })),
])
---

<section class="link-tree">
  <!-- Nav mode switch -->
  {views.length > 1 && (
    <input id="link-tree-mode" type="checkbox" hidden />
    <label id="link-tree-switch" class="link-tree__switch"
      for="link-tree-mode"
      role="button"
      tabindex="0"
      title="Switch navigation mode">
      <img class="link-tree__icon" src="/static/svg/change.svg" alt="Switch navigation mode" width="24" height="24"/>
    </label>
  )}

  <!-- If >0 views to show -->
  {views.length > 0 && (
    <div class="v-prime">
      {views[0].kind === 'pages'
        && <Pages heading={heading} pages={Maybe.of(views[0].pages)} />}
      {views[0].kind === 'headings'
        && <Headings headings={views[0].headings}/>}
    </div>
  )}
  
  <!-- If >1 views to show -->
  {views.length > 1 && (
    <div class="v-alt">
      {views[1].kind === 'pages'
        && <Pages heading={heading} pages={Maybe.of(views[1].pages)} />}
      {views[1].kind === 'headings'
        && <Headings headings={views[1].headings}/>}
    </div>
  )}

  <script>
    const button = document.getElementById("link-tree-switch");

    button?.addEventListener("keypress", e => {
      if (e.key === "Enter") {
        e.preventDefault();
        button!.click();
      }
    })

    const b2 = document.getElementById("current-page-button");
    b2?.addEventListener("click", e => button?.click());
    b2?.addEventListener("keypress", e => {
      if (e.key === "Enter") {
        e.preventDefault();
        button!.click();
      }
    })
  </script>
</section>
